.a {
  border-top: 25px solid red;
  border-bottom: 25px solid rgba(255,255,255,0);
  border-right: 25px solid rgba(255,255,255,0);
  border-left: 25px solid rgba(255,255,255,0);
  width: 0;
  height: 0;
}
.b {
  border-top: 25px solid rgba(255,255,255,0);
  border-bottom: 25px solid blue;
  border-right: 25px solid rgba(255,255,255,0);
  border-left: 25px solid rgba(255,255,255,0);
  width: 0;
  height: 0;
}
.c {
  border-top: 25px solid rgba(255,255,255,0);
  border-bottom: 25px solid rgba(255,255,255,0);
  border-right: 25px solid rgba(255,255,255,0);
  border-left: 25px solid green;
  width: 0;
  height: 0;
}
.d {
  border-top: 25px solid rgba(255,255,255,0);
  border-bottom: 25px solid rgba(255,255,255,0);
  border-right: 25px solid pink;
  border-left: 25px solid rgba(255,255,255,0);
  width: 0;
  height: 0;
}
.f {
  border-top: 25px solid rgba(255,255,255,0);
  border-bottom: 25px solid black;
  border-right: 25px solid black;
  border-left: 25px solid rgba(255,255,255,0);
  width: 0;
  height: 0;
}
.h {
    border-right: solid red 25px;
    border-left: solid red 25px;
    border-bottom: solid red 25px;
    border-top: solid red 25px;
    border-radius: 100px
}