html{
    height: 100vh;
  background:  repeating-linear-gradient(to top, rgba(70, 130, 180, 0.5) 0, rgba(70, 130, 180, 0.5) 1px, transparent 1px, transparent 20px),
               repeating-linear-gradient(to right, rgba(70, 130, 180, 0.5) 0, rgba(70, 130, 180, 0.5) 1px, transparent 1px, transparent 20px);
}
.b{
    position: absolute;
    margin-left: 13px;
    margin-top: -79px;
  border-bottom: 35px solid black;
  border-right: 6px solid rgba(0,0,0,0);
  border-left: 6px solid rgba(0,0,0,0);
}
.a{
    margin-top:-51px;
    margin-left:0px;
  border-bottom: 51px solid rgb(238, 232, 170);
  border-right: 14px solid rgba(0,0,0,0);
  border-left: 14px solid rgba(0,0,0,0);
    width:10px;
}
.c{
    position: absolute;
    bottom: 26px;
    margin-left:20px;
    background-image: linear-gradient(to right, #CD2C24 33.3%,#F2594B 33.3%, #F2836B 66.6%,#F2594B 66.6%, #F2594B 99.9%, #CD2C24 99.9%);
    width:38px;
    height:70vh;
    box-shadow :  3px  3px  3px  gray

}
.d{
    position: absolute;
    bottom: -6px;
    margin-left:0px;
    width:38px;
    height:30px;
    background-image:linear-gradient(to right, #FF69B4, white,#FF69B4);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow :  3px  3px  3px  gray
}
.f{
    position:absolute;
    bottom: 20px;
    margin-left: 170px;
    background-image: linear-gradient(to bottom, #FFFF00,#FFFFE0,#FFFF00,#FF8C00);
    width:50vw;
    height:38px;
    box-shadow :  3px  3px  3px  gray
}
.h{
    margin-top:0px;
    margin-left:-49px;
  border-bottom: 14px solid rgba(0,0,0,0);
  border-right: 50px solid rgb(238, 232, 170);
  border-top: 14px solid rgba(0,0,0,0);
    width:0px;
    height:10px;
}
.m{
    position: absolute;
    margin-left: -78px;
    margin-top:-25px;
  border-bottom: 6px solid rgba(0,0,0,0);
  border-right: 35px solid black;
  border-top: 6px solid rgba(0,0,0,0);
}
.n{
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    position: absolute;
    bottom: 0px;
    right:-5px;
    width:33px;
    height:38px;
    background-image: linear-gradient(to bottom, pink, white,pink,#FF1493);
    box-shadow :  3px  3px  3px  gray
}
.s{
    position: absolute;
    width:30px;
    height:38px;
    bottom: 0px;
    right:15px;
    background-image: linear-gradient(to bottom,#696969, #A9A9A9,#696969,#000000);
}
.w{
    position: absolute;
    width:38px;
    height:33px;
    bottom: 15px;
    right:0px;
    background-image: linear-gradient(to right,#696969, #A9A9A9,#696969);
}