.b,
.e,
.a,
.c,
.q div,
.n,
.w,
.z {
    outline: 1px black solid;
}

.a {
    width: calc(100%/8);
    height: 100%;
    float: left;
}

.b {
    margin: 50px;
    padding: 0px;
    width: 80vmin;
    height: 80vmin;
}

.c,
.z {
    height: calc(100%/8);


}

.q {
    width: 100%;
    height: 5%;
    float: left;
    padding-left: 5%;
}

.w,
.r {
    height: 90%;
    float: left;
    width: 5%
}

.e {
    height: 90%;
    float: left;
    width: 90%
}

.t {
    clear: both;
    height: 5%;
    width: 100%;
    padding-left: 5%;
}

.n {
    width: calc(90%/8);
    height: 100%;
    float: left;
}

.black {
    background-color: gray;
}

.z,
.n {
    text-align: center;
    font-size: 3vmin;
}

.rook {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 40% 0;
}

.rookw {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 40% 108%;

}

.knight {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 84% 0%;

}

.knightw {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 84% 108%;

}

.bishop {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 62% 0;
}

.bishopw {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 62% 108%;
}
.king {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 0% 0;
}
.kingw {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 0% 108%;
}
.queen {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 20% 0;
}
.queenw {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 20% 108%;
}
.pawn {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
     background-position: 105% 0;
}
.pawnw {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 9vmin;
    height: 9vmin;
    background-size: calc(370vmin / 7);
    background-position: 105% 108%;
}