li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

li:nth-of-type(n):not(:nth-of-type(n+5)) {
    border-right: solid black 1px;
}

li:first-child:before {
    content: "a ";
    font-family: "untitled-font-1", monospace;
}