div:nth-of-type(2) {
    width: 100px;
    height: 100px;
    background-color: red;
    display: none;

}

div:nth-of-type(3) {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 200px;
    display: none;


}

div:nth-of-type(4) {
    width: 0px;
    border: solid green;
    border: 50px solid transparent;
    border-top: 50px solid green;
    display: none;

}

a>div {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: pink;
}
#kvadrat:target{
    display: block;
    
}
#krug:target{
    display: block;
    
}
#treugolnik:target{
    display: block;
    
}
