.wrapper {
    position: relative;
    width: 325px;
    height: 230px;
    margin: auto;
    background-color: rgb(39, 138, 137);
    }

.wrapper div {
    position: absolute;
    left: 23px;
    top: 10px;
    width: 274px;
    height: 205px;
    border:solid 2px;
}

.wrapper>div:nth-of-type(1) {
    position: absolute;
    width: 55px;
    height: 40px;
    top: 20px;
    left: 25px;
    background-color: red;
}
