.a {
    background: url("lefttop.png") 0 0 no-repeat;
    background-position: left top;
    height: 100px;
    width: 100px;
}

.b {
    background: url("line.png") 0 0 repeat-x;
    background-position: left top;
}

.c {
    background: url("righttop.png") 0 0 no-repeat;
    background-position: right top;
    width: 100px;
}

.d {
    background: url("line3.png") 0 0 repeat-y;
    background-position: left top;
    width: 100px;
    height: 100%;
}

.f {
    background: url("leftbottom.png") 0 0 no-repeat;
    background-position: left bottom;
    height: 100px;
    width: 100px;
}

.g {
    background: url("line2.png") 0 0 repeat-y;
    background-position: right top;
    width: 100px;
    height: 100%;

}

.h {
    background: url("line4.png") 0 0 repeat-x;
    background-position: left bottom;
}

.n {
    background: url("rightbottom.png") 0 0 no-repeat;
    background-position: right bottom;
    height: 100px;
    width: 100px;
}